<div class="rota_mapa">
    <h6 class="mapa">Mapa</h6>
    <div class="card_identificaçãoAMR">
        <img class="img_card_01" src="assets/map/Retângulo 24296.svg" alt="card mapa">
        <img class= "linha_laranja" src="assets/map/Background.svg" alt="linha laranja">

        <p class="nome">Nome</p>
        <p class="status">Status</p>
        <img class="lista_amr" src="assets/map/Retângulo 24297.svg" alt="card lista amr">
        
    </div>
    <div class="informacao">
        <div class="card_azul">
            <img class="img_card_azul" src="assets/map/Retângulo 24094 (1).svg" alt="card azul">
            <p class="mapeamento">mapeamento</p>
            <img class="icon_info" src="assets/map/Grupo 30484.svg" alt="info">
        </div>
        <div class="container_informacao">
            <img class="texto" src="assets/map/Para iniciar o mapeamento siga as instruções abaixo1. Selecione o AMR desejado para iniciar o mapeamento.2. Mantenha-se próximo ao AMR durante todo o .svg" alt="texto">
        </div>
       
    </div>
</div>

