<div class="cabecalho">
      <img class="logo" src="assets/img/Grupo 30411.png" alt="cloudbot" >
      <img class="search" src="assets/img/Grupo 30538.svg" alt="icone de pesquisa">
      <img class="notification" src="assets/img/Grupo 30540.svg" alt="icone de notificação">

</div>

<div class="container_01">
    <img class="emergencia" src="assets/img/Elipse 707.svg" alt="botão emergencia">
    <img class="letra_emergencia" src="assets/img/Grupo 30549.svg" alt="parada de emergencia">
    <img class="botao_vermelho" src="assets/img/Elipse 708.svg" alt="botao vermelho">
</div>
<div class="coluna">
    <div class="container_02" routerLink="Home/Map">
            <img class="map" src="assets/img/Grupo 30471.svg" alt="icon mapa">
            <p class="mapa"> Mapa</p>
        
        
    </div>
    <div class="container_03">
        <img class="mission" src="assets/img/Grupo 30474.svg" alt="icon mission">
        <p> Missões</p>
    </div>
    <div class="container_04">
        <img class="usuario" src="assets/img/Grupo 30470.svg" alt="icon user">
        <p>Usuários</p>
    </div>
    <div class="container_05">
        <img class="config" src="assets/img/Grupo 30472.svg" alt="icon config">
        <p>Config.</p>
    </div>
    <div class="container_06">
        <img class="suporte" src="assets/img/Grupo 30473.svg" alt="icon suporte">
        <p>Suporte </p>
    </div>
    <div class="container_07"></div>
    <div class="container_08"></div>


    
</div>
